---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";

import { API_URL } from "../../../consts";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";

interface Props {
  url: string;
}

export const getStaticPaths: GetStaticPaths = async () => {

  const response = await fetch(API_URL);
  const { results } = await response.json() as PokemonListResponse;
 
  if (results.length) {
    return results.map((pokemon) => ({
      params: { name: pokemon.name },
      props: { name: pokemon.name, url: pokemon.url }
    }));
  }
  return [];
}

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);

const audioSource = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;

---
<Layout title={`Pokemon Detail of ${name}`}>

  <section
    class="mt-10 mx-10 flex flex-col justify-center items-center"
  >
    <a href="/" class="hover:underline text-blue-500">Regresar</a>
    <h1 class="text-3xl capitalize">{name}</h1>

    <PokemonCard name={name as string} url={url} isBig />
    
    <audio controls class="mt-5">
      <source src={audioSource} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>

  </section>

</Layout>  