---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";

import { API_URL } from "../../../consts";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";
import { getPokemonAudio, getPokemonId } from "@utils/pokemon-resources";
import { getPokemonImage } from "@utils/pokemon-resources";
import Title from "@components/pokemons/shared/Title.astro";

import {Icon} from "astro-icon/components";

interface Props {
  url: string;
}

export const getStaticPaths: GetStaticPaths = async () => {

  const response = await fetch(API_URL);
  const { results } = await response.json() as PokemonListResponse;
 
  if (results.length) {
    return results.map((pokemon) => ({
      params: { name: pokemon.name },
      props: { name: pokemon.name, url: pokemon.url }
    }));
  }
  return [];
}

const { name } = Astro.params;
const { url } = Astro.props;

const id = getPokemonId(url);

const audioSource = getPokemonAudio(id as string);
const imageSource = getPokemonImage(id as string);
---
<Layout 
  title={`Pokemon # ${id} - ${name}`}
  description={`Informacion sobre el pokemon ${name}`}
  image={imageSource}
/>

  <section
    class="mt-10 mx-10 flex flex-col justify-center items-center"
  >
   <div class="flex flex-row">
    <div>
     <button 
      onclick="history.back()"  
      class="hover:underline text-blue-500">
      Regresar
    </button>
    <Title>{name}</Title>
   </div>
   <button 
    id="favorite-button" 
    class="ml-4"
    data-name={name}
    data-id={id}
    >
    <Icon id="heart-outline" name="heart-outline" size={50}/>
    <Icon id="heart-full" name="heart-full" size={50} class="hidden"/>
   </button>
   </div>

    <PokemonCard name={name as string} url={url} isBig />
    
    <audio controls class="mt-5">
      <source src={audioSource} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>

  </section>

</Layout>  

<script>

  import type { FavoritePokemon } from "@interfaces/favorite-pokemon";
  
  // document.addEventListener('astro:before-preparation',() => {
  //   console.log('astro:before-preparation');
  // });


  // document.addEventListener('astro:after-preparation',() => {
  //   console.log('astro:after-preparation');
  // });

  // document.addEventListener('astro:before-swap',() => {
  //   console.log('astro:before-swap');
  // });

  // document.addEventListener('astro:after-swap',() => {
  //   console.log('astro:after-swap');
  // });

  const handlePageLoad = ()=>{
    
    let favoritePokemons: FavoritePokemon[] = JSON.parse(
      localStorage.getItem('favoritePokemons') || '[]'
    );

    const favoriteButton = document.getElementById('favorite-button') as HTMLButtonElement;
  
    if (!favoriteButton) return;

    const name = favoriteButton.dataset.name as string || '';
    const id = favoriteButton.dataset.id as string || '';
    const isFavorite = favoritePokemons.some(pokemon => pokemon.name === name);

    const heartOutline = favoriteButton.querySelector('#heart-outline') as HTMLElement;
    const heartFull = favoriteButton.querySelector('#heart-full') as HTMLElement;

    if (isFavorite){
      heartOutline.classList.add('hidden');
      heartFull.classList.remove('hidden');
    } else{
      heartOutline.classList.remove('hidden');
      heartFull.classList.add('hidden');
    }

     const toggleFavoritePokemon = () => {

      if (isFavorite){
        favoritePokemons = favoritePokemons.filter(pokemon => pokemon.name !== name);
      } else{
        favoritePokemons.push({ name: name, id: +id });
      }

      localStorage.setItem('favoritePokemons', JSON.stringify(favoritePokemons));
    };
    

    favoriteButton.addEventListener('click', () => {
      heartOutline.classList.toggle('hidden');
      heartFull.classList.toggle('hidden');

      toggleFavoritePokemon();

    });
  };

  document.addEventListener('astro:page-load', handlePageLoad);


</script>

<style>
  @reference "../../styles/global.css";
  #favorite-button {
    @apply hover:animate-pulse;
  }
</style>